<div class="contents">
    <h3 class="contents-title">みんなにみせる</h3>
    <%= form_with(model: @result, class:"contents-form",local: true) do |form| %>
      <%= form.text_field :name, placeholder: "にっくねーむをいれてね", class:"contents-name" %>
      <label class="contents-image">
      <%= form.file_field :image, id:"item-image", class:"contents-image" %>
      <i class="fas fa-camera-retro">←おすとしゃしんがえらべるよ</i>
      </label>
      <%= form.text_area :text, placeholder: "とうこうしたいことばをいれてね", rows: "10", class:"contents-text" %>
      <%= form.submit "ぜんぶいれたらおしてね", class:"contents-btn" %>
    <% end %>
</div>