<div class="show-contents">
  <div class="show-content" style="background-image: url(<%= @result.image %>);">
    <div class="show-image">
      <span><%= image_tag @result.image %></span>
    </div>
    <p><%= @result.text %></p>
    <p><%= @result.name %></p>
    <ul class="show-list">
        <li>
          <%= link_to 'かきなおす', edit_result_path(@result.id), class:"show-lists", method: :get %>
        </li>
        <li>
          <%= link_to 'けす', result_path(@result.id), class:"show-lists", method: :delete %>
        </li>
      </ul>
  </div>
</div>