<!DOCTYPE html>
<html>
  <head>
    <html lang="ja">
    <meta charset="utf-8">
    <title>きっずぷらす</title>
    <meta name="description" content="子供が計算とパソコンを好きになります">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://kit.fontawesome.com/ef310d5e9c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>
      <div class="header-wrapper">
        <a class="logo" >きっずぷらす</a>
        <div class="right-header">
            <a>たしざん</a>
            <a>ひきざん</a>
        </div>
      </div>
    </header>
    </div>
    <%= yield %>
    <footer>
      <a>
        Copyright きっずぷらす2021.
      </a>
    </footer>
  </body>
</html>
