<!DOCTYPE html>
<html>
  <head>
    <html lang="ja">
    <meta charset="utf-8">
    <title>きっずぷらす</title>
    <meta name="description" content="子供が計算とパソコンを好きになります">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://kit.fontawesome.com/ef310d5e9c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>
      <div class="header-wrapper">
        <h2 class="logo"><span>きっずぷらす</span></h2>
        <div class="center-header">
          <div class="plus">
          <a href="root_path">
            <div class="plus-icon">
              <i class="fas fa-plus-circle"></i>
            </div>
            <div class="plus-logo">
              <h3>たしざん</h3>
            </div>
            </a>
          </div>
          <div class="subtraction">
          <a href="user_path">
            <div class="subtraction-icon">
              <i class="fas fa-minus-circle"></i>
            </div>
            <div class="subtraction-logo">
              <h3>ひきざん</h3>
            </div>
            </a>
          </div>
        </div>
        <div class="right-header">
          <% if user_signed_in? %>
            <%= link_to "ろぐあうと", destroy_user_session_path, method: :delete %>
            <%= link_to "とうこう", new_result_path, class: "post" %>
        <% else %>
          <div class="log-in">
          <a href="user/signin">
          <div class="log-in-icon">
          <i class="fas fa-sign-in-alt"></i>
          </div>
          <div class="log-in-logo">
            <%= link_to "ろぐいん", new_user_session_path, class: "log-in-logo" %>
          </div>
          </a>
          </div>
          <div class="sign-up">
          <a href="user/signup">
          <div class="sign-up-icon">
          <i class="fas fa-user-plus"></i>
          </div>
          <div class="sign-up-logo">
            <%= link_to "とうろく", new_user_registration_path, class: "sign-up-logo" %>
            </div>
          </a>
          </div>
        <% end %>
        </div>
      </div>
    </header>
    </div>
    <%= yield %>
    <footer>
      <div class="wrapper">
        <a><small>&copy;きっずぷらす 2021</small></a>
      </div>
    </footer>
  </body>
</html>
